Node-Red/flow.json
[{"id":"cb80c88f.ff34b8","type":"tab","label":"TTN Flow","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"cb80c88f.ff34b8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":470,"y":40,"wires":[]},{"id":"4a39d73e.ebdd48","type":"mqtt in","z":"cb80c88f.ff34b8","name":"","topic":"+/devices/+/up","qos":"2","datatype":"auto","broker":"983c5396.fcc4c","x":140,"y":120,"wires":[["186cc905.3079c7"]]},{"id":"186cc905.3079c7","type":"json","z":"cb80c88f.ff34b8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":120,"wires":[["f2f2649a.0d0d98","cf6af109.64a4e"]]},{"id":"a6b9506b.3f4f6","type":"debug","z":"cb80c88f.ff34b8","name":"","active":true,"console":"false","complete":"true","x":590,"y":180,"wires":[]},{"id":"cf6af109.64a4e","type":"function","z":"cb80c88f.ff34b8","name":"edit payload for map","func":"//var int ;\ngpscoordinates = msg.payload.payload_fields.GPSCoordinates;\nvar fields = gpscoordinates.split(',');\n\nvar lat = fields[0];\nvar lon = fields[1];\n\n//color= \"aqua\";\n//iconColor =msg.payload.color;\nlayer= \"GPSData\";\ntime = new Date().toString();\n//var ID=ID+1;\nmsg.payload ={name:lat,lat,lon, layer,iconColor:\"BlueViolet\" };\nreturn msg;","outputs":"1","noerr":0,"x":380,"y":220,"wires":[["46ebe65f.29fbd8","a6b9506b.3f4f6"]]},{"id":"46ebe65f.29fbd8","type":"worldmap","z":"cb80c88f.ff34b8","name":"World Map","lat":"50.96309","lon":"4.137056","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":610,"y":260,"wires":[]},{"id":"b0d2c9c2.6acf2","type":"mqtt in","z":"cb80c88f.ff34b8","name":"","topic":"gpstracker/json","qos":"2","datatype":"auto","broker":"f0308c03.89cab","x":140,"y":420,"wires":[["da7f19e7.f541c8","fcc612bf.08824","d9508d5a.cae5a"]]},{"id":"fcc612bf.08824","type":"function","z":"cb80c88f.ff34b8","name":"edit payload for map","func":"//var int ;\ngpscoordinates = msg.payload;\nvar fields = gpscoordinates.split(',');\n\nvar lat = fields[0];\nvar lon = fields[1];\n\n//color= \"aqua\";\n//iconColor =msg.payload.color;\nlayer= \"GPSData\";\ntime = new Date().toString();\n//var ID=ID+1;\nmsg.payload ={name:lat,lat,lon, layer,iconColor:\"BlueViolet\" };\nreturn msg;","outputs":"1","noerr":0,"x":380,"y":540,"wires":[["7af5f2c6.e6bb7c","6cf43394.a25724"]]},{"id":"da7f19e7.f541c8","type":"debug","z":"cb80c88f.ff34b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":380,"wires":[]},{"id":"7af5f2c6.e6bb7c","type":"worldmap","z":"cb80c88f.ff34b8","name":"World Map","lat":"50.96309","lon":"4.137056","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":610,"y":580,"wires":[]},{"id":"6cf43394.a25724","type":"debug","z":"cb80c88f.ff34b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":500,"wires":[]},{"id":"d9508d5a.cae5a","type":"cloudant out","z":"cb80c88f.ff34b8","name":"LoRa-Database","cloudant":"","database":"lora","service":"node-red-ydb-cloudant-1587070151071-56948","payonly":false,"operation":"insert","x":380,"y":460,"wires":[]},{"id":"49471ee9.647218","type":"cloudant in","z":"cb80c88f.ff34b8","name":"","cloudant":"","database":"lora","service":"node-red-ydb-cloudant-1587070151071-56948","search":"_all_","design":"","index":"","x":370,"y":660,"wires":[["4a7fca4f.afbc0c","d3b55b92.dd8208"]]},{"id":"f38b228a.758738","type":"inject","z":"cb80c88f.ff34b8","name":"Read LoRa Database","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["49471ee9.647218"]]},{"id":"4a7fca4f.afbc0c","type":"debug","z":"cb80c88f.ff34b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":740,"wires":[]},{"id":"d3b55b92.dd8208","type":"function","z":"cb80c88f.ff34b8","name":"forEach Record","func":"msg.payload.forEach(function (value,index) {\n    //node.warn(value.payload);\n    node.send({payload:value.payload});\n});\n","outputs":1,"noerr":0,"x":560,"y":660,"wires":[["fcc612bf.08824"]]},{"id":"406a66ce.e32ba8","type":"inject","z":"cb80c88f.ff34b8","name":"Inject Sample","topic":"","payload":"{\"app_id\":\"mysensorapp\",\"dev_id\":\"node-lopy\",\"hardware_serial\":\"240AC4FFFE007E24\",\"port\":2,\"counter\":0,\"is_retry\":true,\"payload_raw\":\"NTAuOTYzMTMsNC4xMzY3ODY=\",\"payload_fields\":{\"GPSCoordinates\":\"50.96313,4.136786\"},\"metadata\":{\"time\":\"2020-09-30T10:16:04.357888692Z\",\"frequency\":868.1,\"modulation\":\"LORA\",\"data_rate\":\"SF7BW125\",\"airtime\":71936000,\"coding_rate\":\"4/5\",\"gateways\":[{\"gtw_id\":\"eui-240ac4fffe00b5be\",\"timestamp\":3028280349,\"time\":\"2020-09-30T10:16:04.127087Z\",\"channel\":0,\"rssi\":-41,\"snr\":7,\"rf_chain\":0}],\"latitude\":50.96302,\"longitude\":4.137044,\"altitude\":46,\"location_source\":\"registry\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["cf6af109.64a4e"]]},{"id":"983c5396.fcc4c","type":"mqtt-broker","z":"","name":"TTN Broker","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0308c03.89cab","type":"mqtt-broker","z":"","name":"test.mosquitto.org","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]